/* .nav {
    display: flex;
    justify-content:space-between;
    background: #21222A;
}

.div_nav{
    display: flex;
    justify-content: center;
}


.header_1{
 
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22.2535px;
letter-spacing: -0.05em;
color: #61DAFB;
}

.cotainer {

background: #21222A;

}

.header_2 {
    color: #DEEBF8;
}

.Main{
    color: #FFFFFF;
    background: #21222A;
}

.Main > ul > li {
    color: #FFFFFF;;
}

ul li::before {
    content: "\2022";
    color:#61DAFB;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

body {
margin: 0;
}

.div_section_2 .div-section_1 {
    display: block;
    justify-content:space-between;
}

div-section_1{
    display: flex;
}

 */


 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: Inter, sans-serif;
     height: 100vh;
     background-color: #282D35;
 }

 nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
    height: 90px;
 }

 .nav--logo_text, .nav--title {
    margin: 0;
 }

 .nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
 }

 .nav--title {
    color: #DEEBF8;
    font-weight: 600;

 }

 .nav--icon {
    height: 30px;
    margin-right: 7px;
 }

 main {
    padding: 27px 15px;
    color: #FFFFFF;
    background-image: url(./images/react-logo_2.png);
    background-repeat: no-repeat;
    /* background-position-x: right ;
    background-position-y: 75% ; */
    background-position: right 95%;
 }

 .main--tile {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
 }

 .main--facts {
    margin-top: 46px;
 }

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color:#61DAFB;
}